.container{
    position: relative;
    width: 100%;
    min-height: 1.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 4px;
    outline: none;
}

.value {
    flex-grow: 1;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.clear-btn {
    background: none;
    color: #9B9B9B;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
    transform: translateY(-1px);
}

.clear-btn:focus,
.clear-btn:hover {
    color: #FF0000;
}

.divider {
    background-color: #D9D9D9;
    align-self: stretch;
    width: 1px;
}

/* .caret {
    border: 0.25em solid transparent;
    border-top-color: #000000;
} */

.options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 10em;
    overflow-y: auto;
    border: 1px solid #D9D9D9;
    border-radius: 0.25em;
    width: 100%;
    left: 0;
    top: calc(100% + 6px);
    background-color: white;
    z-index: 100;
}

.options.show {
    display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .options::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .options {
    -ms-overflow-style: none;  IE and Edge
    scrollbar-width: none; Firefox
} */

.option {
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.option.selected {
    background-color: #D9D9D9;
}

.option.highlighted {
    background-color: #A58057;
    color: white
}

.option-badge {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    color: #A58057;
    border-radius: 0.25em;
    padding: 0.15em 0.25em;
    gap: 0.25em;
    cursor: pointer;
    background: none;
    outline: none;
    font-size: 0.85em;
}

.option-badge:hover,
.option-badge:focus {
    background-color: rgba(255,0,0,0.2);
    border-color: #FF0000;
}

.option-badge:hover > .remove-btn,
.option-badge:focus > .remove-btn {
    color: #FF0000;
}

.option-badge:hover > .remove-btn {
    color: #FF0000;
}